# .env-fil for docker-compose.yml
PORT=8480
PGID=20
PUID=501
TZ="Europe/Oslo"
PASSWORD=""
# Opprett HASHED_PASSWORD med kommandoen: 'echo -n "passordet" | npx argon2-cli -e' eller 'echo -n "passordet" | argon2 "en eller annen salt-kode" -e'
HASHED_PASSWORD='$argon2i$v=19$m=4096,t=3,p=1$ty9xAakG9bnq50EkuTpFMw$9bSQUVXHuJF4/2kHB0d20wsVTWEjWnSFio42VRp862Y'
SUDO_PASSWORD=""
# Opprett sudo-passordet med kommandoen: 'openssl passwd -6 "passordet"'
SUDO_PASSWORD_HASH='$6$vszu7nVslch5E.ex$Cx76UUgonFMw2JJKiPwwIcdpX2oPIPQdhHG2SDDQGywNFnbADcnhXBFHjP1z1DtaoCckWR59mUYGD1d7Mu4XQ.'